<html>
<div class="ui-steps">
    <div class="ui-steps__item">
        <div class="ui-steps__header">
            <div class="ui-steps__indicator">
                <div class="ui-spinner"></div>
            </div>
            <div class="ui-steps__text">Transferring files</div>
            <div class="ui-steps__progress">
                <div class="ui-steps__progress-fill" style="width: 88.8889%;"></div>
            </div>
        </div>
        <ul class="ui-steps__list">
            <li class="ui-steps__list-item">Uploading <span>build/package.json</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/assets/config/manifest.js</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/assets/javascripts/application.js</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/assets/javascripts/cable.js</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/assets/stylesheets/application.css</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/channels/application_cable/channel.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/channels/application_cable/connection.rb</span>
            </li>
            <li class="ui-steps__list-item">Uploading <span>build/app/controllers/application_controller.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/helpers/application_helper.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/jobs/application_job.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/mailers/application_mailer.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/models/application_record.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/views/layouts/application.html.erb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/views/layouts/mailer.html.erb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/app/views/layouts/mailer.text.erb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/bin/bundle</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/bin/rails</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/bin/rake</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/bin/setup</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/bin/update</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/bin/yarn</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/routes.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/application.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/environment.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/cable.yml</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/puma.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/spring.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/storage.yml</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/environments/development.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/environments/production.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/environments/test.rb</span></li>
            <li class="ui-steps__list-item">Uploading
                <span>build/config/initializers/application_controller_renderer.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/initializers/assets.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/initializers/backtrace_silencers.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/initializers/content_security_policy.rb</span>
            </li>
            <li class="ui-steps__list-item">Uploading <span>build/config/initializers/cookies_serializer.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/initializers/cors.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/initializers/filter_parameter_logging.rb</span>
            </li>
            <li class="ui-steps__list-item">Uploading <span>build/config/initializers/inflections.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/initializers/mime_types.rb</span></li>
            <li class="ui-steps__list-item">Uploading
                <span>build/config/initializers/new_framework_defaults_5_2.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/initializers/wrap_parameters.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/locales/en.yml</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/master.key</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/boot.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/config/database.yml</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/db/seeds.rb</span></li>
            <li class="ui-steps__list-item">Uploading <span>build/public/404.html</span></li>
        </ul>
    </div>
    <div class="ui-steps__item">
        <div class="ui-steps__header">
            <div class="ui-steps__indicator">
                <div class="ui-dots"></div>
            </div>
            <div class="ui-steps__text">Uploading config files</div>
        </div>
    </div>
</div>
</html>